.section__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    .intro-section {
        width: 45%;
        margin-bottom: 7rem;
        padding-top: 5rem;
        
        @include respond(large) {
            margin-bottom: 5rem;
        }
        
        @include respond(medium) {
            margin-bottom: 0;
            width: 80%;
        }
        
        @include respond(small) {
            width: 100%;
        }
        
        .logo-holder {
            display: inline-block;
            margin-bottom: 10rem;
        }
        
        .link {
            display: inline-block;
            overflow: hidden;
            position: relative;
            text-decoration: none;
            
            .icon {
                color: $color-secondary;
                font-size: 3rem;
                transition: all 300ms ease;
                
                &--solid {
                    left: 0;
                    position: absolute;
                    top: -100%;
                }
            }
            
            &:hover {
                
                .icon--solid {
                    top: 0;
                }
            }
        }
        
        .intro-phrase {
            font-size: 3.2rem;
            font-weight: 900;
            letter-spacing: 0.29rem;
            line-height: 4.2rem;
            margin-bottom: 2.3rem;
        }
        
        .intro-paraphrase {
            font-size: 2.1rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            line-height: 3.2rem;
            margin-bottom: 3rem;
        }
    }
    
    .illustration-section {
        align-items: flex-end;
        display: flex;
        width: 50%;
        
        @include respond(medium) {
            width: 80%;
        }
        
        @include respond(small) {
            width: 100%;
        }
        
        .illustration {
            height: auto;
            width: 100%;
        }
    }
}